@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
